<h1> Update Custommer2</h1>
<form action="/update" method="POST">
    Id: <input type="text" name="id" value="<%= Custommer2s.id%>"><br>
    Phone: <input type="text" name="Phone" value="<%= Custommer2s.Phone%>"><br>
    Password: <input type="text" name="Password" value="<%= Custommer2s.Password%>"><br>
    TypeRegister: <input type="text" name="TypeRegister" value="<%= Custommer2s.TypeRegister%>"><br>
    Fullname: <input type="text" name="Fullname" value="<%= Custommer2s.Fullname%>"><br>
    TypeUser: <input type="text" name="TypeUser" value="<%= Custommer2s.TypeUser%>"><br>
    IdProvince: <input type="text" name="IdProvince" value="<%= Custommer2s.IdProvince%>"><br>
    <button type="submit">Update Custommer2</button>
</form>